#btn_menu{    
    
    width: 65px;
    height: 65px;
    position: fixed;
    top: 47px;
    right: 47px;
    z-index: 520;
}
#circle{
    border: white 2px solid ;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
#bar{
    margin: 9px;    
}

#vector{
    width: 24.96px;
    height: 19.76px;
}

/* #block_navbar {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 80px;
    right: 80px;
    z-index: 510;    
    border-radius: 50%;
    background-color: #fff;
    
} */

#block_navbar {
    width: 962px;
    height: 962px;
    position: fixed;
    top: 80px;
    right: 80px;
    z-index: 510;    
    border-radius: 50%;
    background-color: #fff;
    
}

/* #block_navbar {
    width: 962px;
    height: 962px;
    position: fixed;
    top: 80px;
    right: 80px;
    z-index: 510;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transform: translate3d(481px,-481px,0) scale(0);
    transform: translate3d(481px,-481px,0) scale(0);
    -webkit-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
} */

#center {
    width: 200px;
    position: absolute;
    top: 20%;
    left: 80%;
    margin: 42px 0 0 -254px;
    text-align: right;
}
#center ul li{
    font-family: 'Times New Roman', Times, serif;
}

/* .on #block_navbar {
    -webkit-transform: translate3d(481px,-481px,0) scale(1);
    transform: translate3d(481px,-481px,0) scale(1);
    -webkit-transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
} */

